
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: Outfit;
}

@import "tailwindcss";
@theme {
  --color-primary: #5f6fff;
}

.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}